<!-- start custom footer snippets -->
<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->


<!-- <div class="form-body">
    <form class="newsletter-container" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=EarthInversion', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <input id="emailaddr" type="text" name="email" placeholder="Your email here"/>
        <input type="hidden" value="EarthInversion" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <input id="subsc" type="submit" float: right" value="Subscribe"/>
    </form>   
	<p align="center" style="font-size=0.6em; margin-top: 0; margin-bottom: 0;">
        Subscribe via <a href="{{ "/feed.xml" | relative_url }}"> RSS </a>
	</p>
    
</div> -->
<!-- <p align="center" style="margin-top: 0; margin-bottom: 0;" id="feedly-subscription">
    <a href="http://feedly.com/#subscription/feed/http://feeds.feedburner.com/EarthInversion" title="Earth Inversion"><img src="http://s3.feedly.com/feedburner/feedly.png" alt="" style="border:0;"/></a>
    <a href="http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/EarthInversion" title="Earth Inversion"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif" alt="" style="border:0;"/></a>
    <a href="http://www.netvibes.com/subscribe.php?url=http://feeds.feedburner.com/EarthInversion"><img src="http://www.netvibes.com/img/add2netvibes.gif" width="91" height="17" alt="Add to netvibes" style="border:0;" /></a>
</p> -->


<!-- <p align="center" style="margin-bottom: 0; margin-bottom: 0;"><a href="https://feedburner.google.com/fb/a/mailverify?uri=EarthInversion&amp;loc=en_US" class="btn btn--primary btn--large" style="font-size: 0.8em;">Subscribe for newsletters</a></p>
 -->

<p align="center" style="margin-top: 0; margin-bottom: 0; text-decoration: none;">
<!-- <div class="page__footer-copyright"> -->
    <a href="https://opensource.org/licenses/MIT">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</a>
<!-- </div> -->
</p>
<p align="center" style="margin-top: 0; margin-bottom: 0.4em;">
    <a href="https://opensource.org/licenses/MIT">
      <img src="https://camo.githubusercontent.com/78f47a09877ba9d28da1887a93e5c3bc2efb309c1e910eb21135becd2998238a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4c6963656e73652d4d49542d79656c6c6f772e737667" alt="License: MIT" />
  </a>
    <a href="https://twitter.com/utpalkmr">
      <img src="https://img.shields.io/badge/twitter-@utpalkmr-blue.svg" alt="Twitter: @utpalkmr" />
  </a>
 </p>
<p align="center" style="margin-top: 0.2em; margin-bottom: 0.2em;">
   <a href="https://www.buymeacoffee.com/earthinversion" target="_blank"><img height="15" src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee"></a>
 </p>

<!-- <form  action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=EarthInversion', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <p>Enter your email address:</p>
    <p><input type="text" style="width:140px" name="email"/></p>
    <input type="hidden" value="EarthInversion" name="uri"/>
    <input type="hidden" name="loc" value="en_US"/>
    <input type="submit" value="Subscribe" />
</form> -->

<!-- end custom footer snippets -->