<!-- start custom head snippets -->
<script data-ad-client="ca-pub-7279084758065220" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=5f5e3f5a0658220012f2d86d&product=inline-share-buttons'
    async='async'></script>
<meta name="p:domain_verify" content="f2ac9b8217f8708e4fd9b566f476cf43" />
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->