<h4 class="text-center" style="margin-top: 0.5em;">Disclaimer of liability
</h4>
<div style="font-size: 0.6em;">
  <p style="margin-top: 2px; padding-top: 0;">The information provided by the Earth Inversion is made
    available for educational purposes only.</p>
  <p>Whilst we endeavor to keep the information up-to-date and correct. Earth Inversion makes no representations or
    warranties of any kind, express or implied about the completeness, accuracy, reliability, suitability or
    availability with respect to the website or the information, products, services or related graphics content on the
    website for any purpose.</p>
  <p style="margin-bottom: 2px;">UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY
    KIND INCURRED AS A RESULT OF
    THE USE OF THE SITE OR RELIANCE ON ANY INFORMATION PROVIDED ON THE SITE. ANY RELIANCE YOU PLACED ON SUCH MATERIAL IS
    THEREFORE STRICTLY AT YOUR OWN RISK.</p>
</div>
<hr>