<!-- <h4 class="divider donotcross">ADVERTISEMENT</h4> -->
<div align="center" class="align-center">
     <!-- Ezoic - mid_content - mid_content -->
     <div id="ezoic-pub-ad-placeholder-151">
          <script async
               src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7279084758065220"
               crossorigin="anonymous"></script>
          <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
               data-ad-format="fluid" data-ad-client="ca-pub-7279084758065220" data-ad-slot="9326467089"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
     </div>
     <!-- End Ezoic - mid_content - mid_content -->
</div>
<hr>