{% assign url1 = "/geophysics/time-frequency-analysis-in-matlab/" %}
{% assign url2 = "/utilities/plotting-hurricane-track-on-map/" %}
<div class="cardDiv">
    <div class="cardgroup half">
      <div class="card">
        <a href="{{ url1 | relative_url }}" style="text-decoration: none;"><img src="https://raw.githubusercontent.com/earthinversion/earthinversion-images/main/images/time-freq-analysis-matlab/fig22.gif" alt="record_section"></a>
        <div class="cardContainer">
          <a href="{{ url1 | relative_url }}"><h4>Time-Frequency Analysis in MATLAB</h4></a>
          <p>Introduction to the time and frequency analysis in MATLAB</p>
        </div>
      </div>
      <div class="card">
        <a href="{{ url2 | relative_url }}" style="text-decoration: none;"><img src="https://raw.githubusercontent.com/earthinversion/earthinversion-images/main/images/hurricane-track/map.png" alt="hurricane-track"></a>
        <div class="cardContainer">
          <a href="{{ url2 | relative_url }}"><h4>Plotting track and trajectory of hurricanes on a topographic map</h4></a>
          <p>How to plot the track or trajectory of a hurricane on a map?</p>
        </div>
      </div>
    </div> 
  </div>