/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* links */

a {
  &:focus {
    @extend %tab-focus;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
    outline: 0;
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.8em;
  background: $code-background-color;
  border-radius: $border-radius;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

.page_readers {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 90%;
    height: auto;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
    margin: auto;
  }

  > a,
  > img {
    width: 90%;
    height: auto;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
    margin: auto;
  }

  > a {
    display: block;
  }

  figcaption {
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
  }

  
  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
        height: auto;
      }
    }

    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
        height: auto;
      }
    }

    figcaption {
      width: 100%;
      height: auto;
      text-align: center;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
        height: auto;
      }
    }

    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
        height: auto;
      }
    }

    figcaption {
      width: 100%;
      height: auto;
      text-align: center;
    }
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 4px 8px 1px;
  height: 450px;
  img {
    height: 300px;
    width: auto;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
    display: block;
    margin: 0 auto;
  }
  .cardContainer {
    width: 100%;
    padding: 1px 10px 1px;
    a {
      text-align: left;
      color: #3b9cba;
    }
    p {
      font-size: 0.6em;
      text-align: left;
    }
  }
}

.card:hover {
  box-shadow: 0 15px 20px 4px rgba(0, 0, 0, 0.2);
}

.cardgroup,
.half {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;
  .card {
    @include breakpoint($small) {
      width: calc(50% - 0.5em);
    }
  }
}

.figureLiveApps {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 2em 0;

  a,
  > img {
    @include breakpoint($small) {
      width: calc(33% - 0.5em);
    }
    border: 0.3em solid transparent;
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-6;
  text-align: center;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
    }
  }
}

// Buttons
.button_group {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }
  }
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
a,
tr,
td,
input,
form button,
input[type="submit"],
.btn,
.highlight,
.figureLiveApps,
.archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}

// Dont show for small screens
@media only screen and (max-width: 1026px) {
  .cardDiv {
    display: none !important;
  }
  .paginator-desktop {
    display: none !important;
  }
  .sub-page {
    display: none !important;
  }
}

.newsletter-container {
  display: flex;
  flex-wrap: wrap;
  // margin-top: 5px;

  & > input {
    flex: 1 1 10ch;
    margin: 0.5rem;

    &[type="email"] {
      flex: 3 1 30ch;
    }
  }
}

input {
  border: none;
  background: #fafafa;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;

  &[type="submit"] {
    background: #25d366;
    color: white;
    box-shadow: 0 0.75rem 0.5rem -0.5rem #ededed;
  }
}

#emailaddr {
  width: 140px;
}

#subsc {
  width: 30px;
}

.container-cf {
  margin: 0;
}

.container-cf progress {
  width: 100%;
}
input {
  transition: all 0.5s;
}

.containerDownloads {
  border: 3px solid blue;
  padding: 20px 40px 40px;
  max-width: 100%;
  &__image {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 20px 30px 0 0;
  }
  &__text {
    display: inline-block;
    width: 46%;
    @media (max-width: 620px) {
      width: 100%;
    }
  }
}

.indexPhoto {
  display: none !important;
}
.centerAdMobile {
  margin: auto; 
  background-color: #F5F5F5; 
  border:1px solid #3b9cba;
}

.centerAdDesktop {
  margin: auto;
  width: 60%;
  padding: 10px;
}

// Base Divider class
.divider {
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}


// Ribbon thing
.donotcross {
  overflow: hidden;
  align-items: center;
  background: hsl(50, 100%, 50%);
  color: black;
  height: 2em;
  line-height: 2em;
	
  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

// Ribbon thing
.donotcross2 {
  overflow: hidden;
  align-items: center;
  background: hsl(202, 63%, 47%);
  color: black;
  height: 2em;
  line-height: 2em;
	
  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}



/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .indexPhoto {
    display: block;
  }
  #navlist_desktop {
    display: none !important;
  }
  .centerAdDesktop {
    display: none !important;
  }
}

// for large screen
@media only screen and (min-width: 1026px) {
  #whatsappShare {
    display: none;
  }
  .paginator-mobile {
    display: none !important;
  }
  .centerAdMobile {
    display: none !important;
  }
}

